<launch>
<!--<node name="autonomous_logic_node" pkg="ros_package" type="autonomous.py" />-->
<node name="orange_ball_detector" pkg="ros_package" type="orange_ball_detector.py" />
<!--<node name="rf_node" pkg="ros_package" type="rftest.py" />-->
<!--<node name="sliders_node" pkg="ros_package" type="sliders.py" />-->
<node name="mapper_node" pkg="ros_package" type="throw_distance_mapper.py" />
</launch>
